@import url('colors.css');

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    padding: 10px;
    background-color: rgb(0, 119, 167);
}

main h1 {
    color: var(--text-color);
    margin: 10px;
    margin-bottom: 20px;
}
 
.container-location {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 30%;
}

.container-location span{
    font-size: 50px;
    line-height: 30px;
    font-family: sans-serif;
    padding: 0 10px;
    margin-left: 8px;
}

.container-location input {
    font-size: 22px;
    width: 100%;
    height: 80%;
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}
.container-location img {
    width: 50px;
}

.container-time {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-condition {
    font-size: 22px;
    color: var(--text-color);
}
.temperature {
    font-size: 100px;
    color: white;

}